root = true

# Пометить все файлы в папке как "сгенерированный код"
# Компилятор обычно игнорирует варнинги в таких файлах
[SharpJaad.AAC/**.cs]
generated_code = true

# Или точечно отключить конкретные правила для этой папки
[SharpJaad.AAC/**.cs]
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.CS8602.severity = none
dotnet_diagnostic.CS8604.severity = none
dotnet_diagnostic.CS8625.severity = none
dotnet_diagnostic.CS0420.severity = none

[*.cs]
# Неиспользуемые параметры
dotnet_diagnostic.IDE0060.severity = warning

# Неиспользуемые private поля/методы/свойства
dotnet_diagnostic.IDE0051.severity = warning

# Private member assigned but its value is never read
dotnet_diagnostic.IDE0052.severity = warning

# Ненужные присваивания
dotnet_diagnostic.IDE0059.severity = warning

# Поле можно сделать readonly
dotnet_diagnostic.IDE0044.severity = suggestion

# Отключаем тяжёлые правила в Debug
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.CA1068.severity = none

# Отключаем все StyleCop правила в Debug
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = none